<h1>Listing locations</h1>

<%= link_to 'New Location', new_location_path %>

<ul>
<% @locations.each do |location| %>
  <li>
    <div>
      <%= location.name %>
      <%= location.address %>
      <%= location.latitude %>
      <%= location.longitude %>
    </div>
    <div >
      <%= link_to 'Show', location %>
      <%= link_to 'Edit', edit_location_path(location) %>
      <%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %>
    </div>
    
  </li>
<% end %>
</ul>

<br />